body {}

#banner {
	width: 10%;
}

.principal {
	background: #01ff5e;
	padding: 100px;
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 50px;
}

.titulo-principal {
	padding-left: 60px
	height: 15vw;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 50px;
}

em strong {
	color: #000000;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #00ff37;
	padding: 50px;
}

.beneficios ul {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin-right: 50%;
}

.imagembeneficios {
	width: 10%;
}

header {
	background: #BBBBBB;
	padding: 50px 0;
}

.caixa {
	position: relative;
	width: 50px;
	margin: 0 auto;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}