@import url(./styles/header.css);
@import url(./styles/main.css);
@import url(./styles/carrossel.css);
@import url(./styles/footer.css);
@import url(./styles/galeria.css);
@import url(./styles/contato.css);

:root {
    --cor-de-fundo: #907330;
    --cor-principal: #1bdd86;
    --cor-preto: #000000;
    --cor-verde2: #0cf02393;
    --cor-verde: #0cf02393;
    --cor-branco: #FFFFFF;
}