.titulo-objetivo{
    text-align: center;
    font-size: 15px;
}

#banner {
	width: 100%;
}

.principal {
	background: var(--cor-de-fundo);
	padding: 30px;
}

.titulo-centralizado {
	text-align: center;
    font-size: 30px;
}

p {
	text-align: center;
}

#missao {
	font-size: 15px;
}

em strong {
	color: var(--cor-vermelho);
}

.itens {
	font-style: italic
}

.beneficios {
	background: var(--cor-verde);
	padding: 30px;
    margin: 0 auto;
    font-size: 30px;
}

.beneficios ul {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin-right: 30%;
}

.imagembeneficios {
	width: 100%;
}

.lista-conteudo {
     display: inline-block;
    vertical-align: top;
    width: 100%;
}
 
.iten {
    font-weight: bold;
    line-height: 2.0;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

.itens {
    font-style: italic;
    line-height: 2.0;
    font-size: 18px;
    align-items: center;
}

.iten:first-child {
    font-weight: bold;
}

.iten:before {
    content: "★";
}